body{
    background: #F6F6F6;
}

.box1{
    position: absolute;
    width: 288px;
    height: 97px;
    left: 0px;
    top: 0px;
    background: #530745;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.box2{
    position: absolute;
    width: 288px;
    height: 136px;
    left: 0px;
    top: 97px;
    background: #83709E;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.box3{
    position: absolute;
    width: 288px;
    height: 54px;
    left: 0px;
    top: 233px;
    background: #83709E;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.box4{
    position: absolute;
    width: 288px;
    height: 115px;
    left: 0px;
    top: 287px;
    background: #F86491;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.box5{
    position: absolute;
    width: 288px;
    height: 132px;
    left: 0px;
    top: 402px;
    background: #813967;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.box6{
    position: absolute;
    width: 169px;
    height: 57px;
    left: 288px;
    top: 0px;
    background: #813967;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.box7{
    position: absolute;
    width: 169px;
    height: 40px;
    left: 288px;
    top: 57px;
    background: #AFA8CA;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.box8{
    position: absolute;
    width: 169px;
    height: 190px;
    left: 288px;
    top: 97px;
    background: #B1AACC;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.box9{
    position: absolute;
    width: 169px;
    height: 115px;
    left: 288px;
    top: 287px;
    background: #B1AACB;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.box10{
    position: absolute;
    width: 169px;
    height: 132px;
    left: 288px;
    top: 402px;
    background: #83709E;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.box11{
    position: absolute;
    width: 193px;
    height: 169px;
    left: 457px;
    top: 0px;
    background: #F86491;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.box12{
    position: absolute;
    width: 193px;
    height: 145px;
    left: 457px;
    top: 169px;
    background: #83709E;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.box13{
    position: absolute;
    width: 193px;
    height: 88px;
    left: 457px;
    top: 314px;
    background: #813967;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.box14{
    position: absolute;
    width: 1079px;
    height: 132px;
    left: 457px;
    top: 402px;
    background: #520845;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.img{
    position: absolute;
    width: 886px;
    height: 402px;
    left: 650px;
    top: 0px;
}

.quote{
    position: absolute;
    width: 890px;
    height: 71px;
    left: 565px;
    top: 450px;
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 23px;
    color: #FFFFFF;
}

.topic{
    position: absolute;
    left: 60px;
    top: 590px;
    width: 1440px;
    font-family: 'Merienda One', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #862C4E;
}

.text1{
    position: absolute;
    left: 90px;
    top: 690px;
    width: 1270px;
    text-align: centre;
    font-family: Arial;
    font-size: 21px;
}
#pink{
    color: #F86491;
}

.img2{
    position: absolute;
    left: 230px;
    width: 770px;
}

.text2{
    position: absolute;
    left: 90px;
    top: 2015px;
    width: 1270px;
    text-align: centre;
    font-family: Arial;
    font-size: 21px;
}

.author{
    position: absolute;
    right: 60px;
    top: 2650px;
    font-family: Arial;
    font-size: 28px;
    font-weight: bold;
    color: #862C4E;
}

.logo{
    position: absolute;
    width: 77px;
    height: 68px;
    left: 30px;
    top: 2710px;
    background: linear-gradient(180.1deg, #FFFFFF -37.29%, rgba(255, 255, 255, 0) 99.91%);
}

.name{
    display: inline;
    position: absolute;
    width: 330px;
    height: 71px;
    font-family: 'Merienda One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    color: #F86491;
}
#care{
    left: 104px;
    top: 2720px;
    color: #FF7D21;
}
#she{
    left: 0px;
    top: 2720px;
    color: #F86491;
}